@{

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        
        <link href="~/Scripts/Styles/MainStyle.css" rel="stylesheet" type="text/css" />
        <!--<link href="~/Scripts/Menu.css" rel="stylesheet" type="text/css" />-->
        <link href="~/Scripts/Styles/TableCSSCode.css" rel="stylesheet" type="text/css" />
        
        <!--<link rel="stylesheet" href="~/Styles/Theme/jquery-ui.css">
        <script src="~/Scripts/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="~/Scripts/tabs/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>-->
    </head>
    <body>
        @RenderBody()
    </body>
</html>
