@{
    Layout = "~/_Layout.cshtml";  
}

    <body>

         <table border="0">
            <tr>
                <td>
                    <input type="text" name="type" value="domain" />
                </td>
            </tr>
        </table>

        
        
    </body>

