@{
    Layout = "~/_Layout.cshtml";  
}
<body>
    <h2>Menu</h2>
 
<div id="menu">
<ul>
<li><a href="/DataScience/Search.cshtml" target="iframeMain">Search</a></li>
<li><a href="/DataScience/Visualisation.html" target="iframeMain">Overview</a></li>
<li><a href="/DataScience/Report.cshtml"  target="iframeMain">About</a></li>
</ul>
</div>

</body>
