@{
    Layout = "~/_Layout.cshtml";  
}
<body>
    <h2>About</h2>
    <p>
        Please refer to our <a href="https://github.com/norvigaward/naward12" target="_blank">GitHub Repository</a> for further details and additional information.
    </p>

</body>

